*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(254, 250, 224);
    color: rgba(88, 47, 14);
    font-family: CirceLight, sans-serif;
}

.wrapper-auth{
    margin: 20vh auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: 3px solid rgba(40, 54, 24);
    background-color: rgba(164, 172, 134);
    top: 50%;
    height: 50vh;
}

.container-auth{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.input-style{
    border-radius: 5px;
    margin-left: 3vw;
    margin-top: 20px;
    color: rgba(88, 47, 14);
    background-color: rgba(254, 250, 224);
    border: 2px solid rgba(65, 72, 51);
    height: 45px;
    font-size: 25px;
    font-weight: bold;
}

.input-style::placeholder{
    color: rgba(88, 47, 14);
}

.form-style{
    align-items: center;
    justify-content: center;
}

.btn{
    margin-left: 9vw;
    margin-top: 20px;
    position: relative;
    color: rgba(88, 47, 14);
    background-color: rgba(254, 250, 224);
    border: 2px solid rgba(65, 72, 51);
    font-size: 25px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover{
    color: rgba(127, 79, 36);
    background-color: rgba(255, 249, 211, 0.8);
    border: 2px solid rgba(65, 72, 51);
}

.choice-auth{
    color: rgba(194, 197, 170);
    text-decoration: none;
    font-size: 17px;
}

.choice-auth:hover{
    color: rgba(127, 79, 36);
    text-decoration: none;
    font-size: 17px;
}